<% layout("/layouts/basic.ejs") -%>
<body class="bg">
    <!-- <div class="home">
        <img src="https://images.unsplash.com/photo-1644578616497-a73f8004d5fb?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="bg-img">
    </div> -->
</body>